NODE_PORT=3000
PYTHON_ZMQ_PORT=5555
PYTHON_ZMQ_RESPONSE_PORT=5556

MAX_STREAMS=5
TARGET_FPS=15
MAX_DELAY_MS=500

DEFAULT_SCALE=2
ALLOWED_SCALES=2,3,4

USE_GPU=true
GPU_DEVICE=0

METRICS_INTERVAL_SEC=30

DB_PATH=./data/metrics.db
RECORDINGS_PATH=./recordings

SIGNALING_PORT=8080
MEDIA_PORTS=10000-10100

LOG_LEVEL=info
